@tailwind base;
@tailwind components;
@tailwind utilities;

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  
    .card {
      flex: 0 0 auto;
    }
  }
  .scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }